@model TrackMyHabit.Models.Calendars;

<div class="container">
    <h2 class="display-4 mb-4 text-center">@Model.DisplayDate.ToString("MMMM") @Model.Year</h2>
    <p>Click the day to add a color coded habit!</p>
    <form method="post" asp-controller="Calendars" asp-action="ChangeMonth" id="myform">
        <input type="text" id="btnVal" name="btnValue" hidden  />
        <input type="datetime" value="@Model.DisplayDate" name="currentMonth" hidden />
        <button type="button" name="next" value="Next" class="btn-default float-right" onclick="myButtonClick('next')">Next</button>
        <button type="button" name="previous" value="Previous" class="btn-default float-left" onclick="myButtonClick('previous')">Previous</button>
    </form>
    <script>
        function myButtonClick(btn) {
            if (btn == "next") {
                document.getElementById("btnVal").value = "next";
            }
            else if (btn == "previous") {
                document.getElementById("btnVal").value = "previous";
            }
            document.getElementById("myform").submit();
        }
    </script>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                    {
                        <th class="text-center" width="10%">@day</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var days in Model.Dates)
                {
                        if (days.DayOfWeek == DayOfWeek.Sunday && days != Model.StartDate)
                        {
                            <tr></tr>
                        }

                        <td style="height: 100px">@days.Date.Day @Model.Habit.HabitInitial</td>
                }
                </tbody>
            </table>
     </div>
</div>
