@model TrackMyHabit.Models.HabitsViewModels.AddHabitToDateViewModel


@{
    ViewData["Title"] = "Edit";
}

<div class="row" style="font-family:'Lato', sans-serif">
    <div class="col-md-6 offset-md-3">
        <h1 style="font-family:'Open Sans', sans-serif">Edit your habit</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.HabitName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.HabitName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.HabitsDates)
            </dt>
            <dd class="col-sm-9">
                @foreach (var date in Model.HabitsDates)
                {
                    <span>@date.AllDates.Date.ToLongDateString(),&nbsp;</span>
                }
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.HabitColor)
            </dt>
            <dd class="col-sm-2" style="background-color:@Model.HabitColor; color:@Model.HabitColor">
                @Html.DisplayFor(model => model.HabitColor)
            </dd>
        </dl>
        <form asp-action="AddDate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HabitId" />
            <div class="form-group">
                <h2>Add a new date</h2>
                <label asp-for="HabitDate"></label>
                <input asp-for="HabitDate" type="date" value="" />
                <span asp-validation-for="HabitDate"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
