@model TrackMyHabit.Models.Habits

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-6 offset-md-3">
    <h1>Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AllDates)
        </dt>
        <dd class="col-sm-9">
            @foreach (var date in Model.HabitsDates)
            {
                <span>@date.AllDates.Date.ToLongDateString(),&nbsp;</span>
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class="col-sm-2" style="background-color:@Model.Colour; color:@Model.Colour">
            @Html.DisplayFor(model => model.Colour)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="nav-item px-2">Edit</a>
        @*FIXME*@
        <a asp-controller="Habits" asp-action="Edit" asp-route-id="@Model.Id" class="nav-item px-2">Add Date</a>
        <a asp-action="Index" class="nav-item px-2">Back to List</a>
    </div>
</div>

